@import url(style.css);



#header .logo {
	background-image: url(images/red/bg_banner.gif);
	background-color: #a10404;
}

#header_banner-b {
	background-image: url(images/red/red-header-img.jpg);
}


a {color: #b90100; }
a:hover {color: #000000;}


li {	color: #666666; }

.itemHead { color: #000000;}

#leftcolumn .blockTitle, #rightcolumn .blockTitle {		background-image: url(images/red/bg_banner.gif);
	background-repeat: repeat-x;
	background-position: left top; }
.centercol {}

.centercol .blockTitle {	color: #ffffff;
	font-weight: normal;
	margin-top: 3px;
    background-image: url(images/red/bg_banner.gif); background-repeat: repeat-x;  }

#centercolumn th {
	background-color: #9B0004;
	border-bottom-color: #640002;
}
#centercolumn th a { color: #FFFFFF;}


#mainmenu a {
	display: block;
	font-weight: normal;
	background-image: url(images/red/santa.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	border-bottom-width: 1px;
	font-weight: normal;
	border-bottom-style: solid;
	border-bottom-color: #b90100;
}
#mainmenu a:hover {
	text-decoration: none;
	background-color: #b90100;
}
#mainmenu a.menuTop, #mainmenu a.menuMain {padding-left: 16px; }
#mainmenu a.menuTop {
	border-top-style: none;
}
#mainmenu a.menuSub {
	padding-left: 25px;
	color: #415F83;
}

#usermenu a {
	display: block;
	font-weight: normal;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	border-bottom-width: 1px;
	font-weight: normal;
	border-bottom-style: solid;
	border-bottom-color: #b90100;
}
#usermenu a:hover {		
	text-decoration: none;
	background-color: #b90100;
	padding-left: 16px;
}	
#usermenu a.highlight {
	background-color: #b90100;
	color: #FFFFFF;
}


.outer {}
.head {
	background-color: #9B0004;
	border-bottom-color: #640002;
}
.head a {
	color: #EBC5E3;
}
.head a:hover {
	color: #F0DBEA;
}

.even, tr.even td {
	background-color: #F4F4F4;
	border: 1px solid #E8E8E8;
}
td.even:hover, tr.even td:hover, .odd:hover, tr.odd td:hover {
	background-color: #FFFFFF;
}

.odd, tr.odd td {
	background-color: #F0F0F0;
	border: 1px solid #E8E8E8;
}
.foot {
	padding: 2px;
	font-weight: bold;
	text-align: center;
}

.footer {
	padding: 10px 3px;
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	{background-image: url(images/red/bg_banner.gif); background-repeat: repeat-x ;
	text-decoration: none;
	font-size: 90%;
	background-color: #1f1f1f;
}
.footer a {
	text-decoration: none;
	font-weight: normal;
	color: #000000;
}
.footer a:hover {
	color: #000000;
}

#tabsE a {	background-image: url(images/red/tableftE.gif); }
#tabsE a span { background-image: url(images/red/tabrightE.gif);}
